---
---

@import "{{ site.theme }}";

header a.button {
    position: absolute;
    top: 0;
    right: 0;
    height: 164px;
    width: 236px;
    background: transparent url(../images/incomplete-games-logo.png) 0 0 no-repeat;
}

@media only screen and (max-width: 750px){
    header a.button{
      display: none;
    }
}

footer {
    clear: both;
}
